.con{
    padding-top: 0.88rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
     margin-top: 2rem;
    input{
        font-size: 0.24rem;
        border: 1px solid #ccc;
        width: 2rem;
        height: 0.7rem;
        float: right;
        background: #3698d9;
        color: #fff;
        border-radius: 0.05rem;
         margin-top: 0.5rem;
    }
}
.img{
   
    width: 2.6rem;
    height: 1.5rem;
}